body {
	font-family: Arial, helvetica;
}

.authenticated, .authenticate, .nocode {
	background: #653a71;
	width: 640px;
	word-wrap: break-word;
	color: white;
	font-size: 1.6em;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	border: 3px black solid;
}

.authenticate {
	width: 280px;
	padding: 20px;
}

a {
	color: white;
	text-decoration: none;
}

.authenticated label {
	font-weight: bold;
}

.hidden {
  display: none;
}